<header class="site-header">
  <a class="site-header__link">
      <svg class="site-header__icon">
    
      </svg>               
  </a>
  <a class="site-header__link _white">
     <span> Москва </span>
  </a>

  <a class="site-header__link _black">
      <span>
          Настройка
      </span>
  </a>

  <div class="widjet">
      <div class="widjet__header">
          <a href = # class="widjet__link _black">
              Почта
          </a>
          <a href = # class="widjet__link _gray-medium">
              Завести почту
          </a>
        </div>
      <div class="widjet__content">
          <a href = # class="widjet__link _gray">
              Войти в почту
          </a>
          <a href = # class="widjet__link _blue">
              Получить плюс
          </a>
      </div>
  </div>
</header>
