<div class="w-tv">
  <div class="w-tv__title">
    <a class="w-tv__link">
      Телепрограмма
    </a>
    <button class = "w-tv__button"> 
      <span class = "w-tv__button-text"> ТВ онлайн </span>
    </button>
  </div>
  <ul class="w-tv__list">
    <li class="w-tv__list-item">
      <span class="w-tv__time">
        13:05
      </span>
      <span class="w-tv__info">
        <a class="w-tv__link _tt">
          Под прикрытием
        </a>
        <span class = "w-tv__channel">
          <a class="w-tv__link-channel">
            ОТР
          </a>
        </span>
      </span>

    </li>
  </ul>
</div>