<ng-content></ng-content>
<div class="container">
  <div class="dzen">
    <div class="dzen__header">
      <div class = "dzen__title">
        <a class="dzet__link _text"> Дзен </a>
        <div class="dzen__title-desc">
          Публикации на основе ваших  интересов
        </div>
      </div>
      <a href = # class = "dzen__link">
        <img src="../../assets/image/yandex-browser.svg" class="dzen__title-image">
        <div class="dzen__text">
          <span class = "dzen__text-browser">
            Яндекс.Браузер
          </span>
          <br>
          <span class = "dzen__text _tt">
            со встроенным Дзеном
          </span>
      </div>
      </a>
    </div>

    <div class="dzen__content">
      <div class="dzen__content-field">
        <div class="dzen__content-item __size-small">
          <div class = "dzen__image-field">
            <img class = "dzen__image" src = "../../assets/image/dzen-image.jpeg">
            <a href = # class="dzen__doc-link">
                <div class="dzen__doc-field">
                  <div class="dzen__doc-header">
                    12 способов избавиться от лишних комплексов
                  </div>
                  <div class="dzen__doc-content">
                    Эти элеентарные советы помогут навести порядок в доме оскружении и мыслях
                  </div>
                  <div class="dzen__doc-footer">
                    <div class="dzen__footer-text">
                      <a href = # class = "dzen__footer-link">
  
                      </a>
                    </div>
                    <div class="dzen__footer-value">
                      <svg>
  
                      </svg>
                      <svg>
  
                      </svg>
                    </div>
                  </div>
                </div>
            </a>   
          </div>         
        </div>
        <div class="dzen__content-item __size-small">
            <div class = "dzen__image-field">
              <img class = "dzen__image" src = "../../assets/image/dzen-image.jpeg">
              <a href = # class="dzen__doc-link">
                  <div class="dzen__doc-field">
                    <div class="dzen__doc-header">
                      12 способов избавиться от лишних комплексов
                    </div>
                    <div class="dzen__doc-content">
                      Эти элеентарные советы помогут навести порядок в доме оскружении и мыслях
                    </div>
                    <div class="dzen__doc-footer">
                      <div class="dzen__footer-text">
                        <a href = # class = "dzen__footer-link">
    
                        </a>
                      </div>
                      <div class="dzen__footer-value">
                        <svg>
    
                        </svg>
                        <svg>
    
                        </svg>
                      </div>
                    </div>
                  </div>
              </a>   
            </div>         
        </div>
        <div class="dzen__content-item __size-small">
          <div class = "dzen__image-field">
            <img class = "dzen__image" src = "../../assets/image/dzen-image.jpeg">
            <a href = # class="dzen__doc-link">
              <div class="dzen__doc-field">
                <div class="dzen__doc-header">
                  12 способов избавиться от лишних комплексов
                </div>
                <div class="dzen__doc-content">
                  Эти элементарные советы помогут навести порядок в доме оскружении и мыслях...
                </div>
                <div class="dzen__doc-footer">
                  <div class="dzen__footer">
                    <a href = # class = "dzen__footer-link">
                     <!-- Лайфхакер -->
                    </a>
                    <div class="dzen__footer-value">
                     <!-- <img src = "../../assets/image/like.png" class = "dzen__like"> 
                      <img src = "../../assets/image/dislike.png" class = "dzen__like">-->
                    </div>
                  </div>
                </div>
              </div>
            </a>   
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>