<div class="w-visited">
  <div class="w-visited__title">
    <a href = # class = "w-visited__link">
      Посещаемое
    </a>
  </div>
  <ul class = "w-visited__list">
    <li class="w-visited__list-item">
      <a href = # class = "w-viside__link _tt">
        Маркет
      </a>
      <span> - </span>
      <a href = # class="w-visited__link _oo">
        все для сада и огорода
      </a>
    </li>
    <li class="w-visited__list-item">
      <a href = # class = "w-viside__link _tt">
        Авто.ру
      </a>
      <span> - </span>
      <a href = # class="w-visited__link _oo">
        автомобили до 250 000
      </a>
    </li>
    <li class="w-visited__list-item">
      <a href = # class = "w-viside__link _tt">
        Недвижимость
      </a>
      <span> - </span>
      <a href = # class="w-visited__link _oo">
        дом на Рогожеском Валу
      </a>
    </li>
    <li class="w-visited__list-item">
      <a href = # class = "w-viside__link _tt">
        ТВ онлайн
      </a>
      <span> - </span>
      <a href = # class="w-visited__link _oo">
        смотреть "Футбол"
      </a>
    </li>
    <li class="w-visited__list-item">
      <a href = # class = "w-viside__link _tt">
        Едадил
      </a>
      <span> - </span>
      <a href = # class="w-visited__link _oo">
        экономьте на продуктах
      </a>
    </li>
    <li class="w-visited__list-item">
      <a href = # class = "w-viside__link _tt">
        Еда
      </a>
      <span> - </span>
      <a href = # class="w-visited__link _oo">
        где заказать бургер
      </a>
    </li>
    <li class="w-visited__list-item">
      <a href = # class = "w-viside__link _tt">
        Видео 
      </a>
      <span> - </span>
      <a href = # class="w-visited__link _oo">
        смотреть мультсериал
      </a>
    </li>
  </ul>
</div>