.traffic{
    display: flex;
    flex-direction: column;
    
    width: 300px;
}

.traffic__content{
    margin-top: 15px;
    padding-left: 40px;
}
.traffic__title{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #0054b9;
    font-family: "YS Text", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    padding-left: 40px;
    
}

.traffic__title:hover{
    cursor: pointer;
    color: red;
}
.traffic__link{
    text-decoration: none;
    color: black;
    font-size: 25px;

}
.__text{
    font-size: 15px;
}