<div class="map">
  <div class="map__title">
    <a href = # class="map__link __title-size">
      Карта Москвы
    </a>
  </div>

  <ul class="map__list">
    <li class="map__list-item">
      <a href = # class="map__link">
        Метро
      </a>
    </li>
    <li class="map__list-item">
      <a href = # class="map__link">
        Такси
      </a>
    </li>
    <li class="map__list-item">
        <a href = # class="map__link">
          Расписание
        </a>
    </li>
    <br>
    <li class="map__list-item">
        <a href = # class="map__link">
          Сообщетво соседей
        </a>
    </li>

  </ul>
</div>