<div class="w-weather">
  <div class="w-weather__title">
    {{title}}
  </div>
  <div class="w-weather__content">
    <a href = # class="w-weather__link">
      <img class = "w-weather__image" src = {{path}}>
    
      <span class="w-weaher__temp __big-size-link">+ 13 °C</span>
     
    </a>
    
    <div class="w-weather__temp">
       <a class="w-weather__link">
         вечером, -4 
       </a>
       <a class="w-weather__link">
         ночью, -12 
       </a>
    </div>
    
  </div>
</div>