<div class="container">    
    <section class="search">
        <div class="search__logo">
            <a href="#" class="search__logo-link">
                <img src="../../assets/image/yandex.svg"
                     title="" class="search__logo-image">
            </a>
        </div>

        <div class="search__content">
            <nav class="search__nav">
                <ul class="search__list">
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            Видео
                        </a>
                    </li>
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            Картинки
                        </a>
                    </li>
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            Новости
                        </a>
                    </li>
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            Карты
                        </a>
                    </li>
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            Маркет
                        </a>
                    </li>
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            Переводчик
                        </a>
                    </li>
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            Музыка
                        </a>
                    </li>
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            ТВ-онлайн
                        </a>
                    </li>
                    <li class="search__list-item">
                        <a href="#" class="link search__list-link">
                            ещё
                        </a>
                    </li>
                </ul>
            </nav>

            <form action="#" method="get" class="search__form">
                <div class="search__icon-field">
                    <div class="search__icon-microphone"></div>
                    <div class="search__icon-keyboard"></div>
                    <input type="search" name="question-search" class="search__field">
                </div>
                <button type="submit" value="subject-of-search" class="search__button">
                    Найти
                </button>

            </form>

        </div>
    </section>

    <div class="search__text">
        <div class="search__example">
            Найдется все. Например
            <a href="#" class="link _invisible">фильм кристофера нолана</a>
        </div>
        <a class="search__link">
            <div class="search__offer">
                <img
                    src="https://avatars.mds.yandex.net/get-banana/37571/BCLHqbvPDHTyACzbWZjC4c_banana_20141031_dog-red.png/optimize"
                    class="search__icon">
                Попробуйте Яндекс.Браузер
            </div>
        </a>
    </div>
</div>